<!DOCTYPE html>

<head>
    <title>Hotel Management System</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/style.css') }}">
</head>

<body>
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4">Hotel Management System</h1>
        </div>
    </div>
    <div class="btn-group btn-group-toggle" id="tabs">
        <button class="btn btn-primary btn-lg" onclick="openTab('view-rooms')">View Rooms </button>
        <button class="btn btn-primary btn-lg" onclick="openTab('view-catering')">View Catering </button>
        <button class="btn btn-primary btn-lg" onclick="openTab('view-guests')">View Guests </button>
        <button class="btn btn-primary btn-lg" onclick="openTab('view-staff')">View Staff </button>
        <button class="btn btn-primary btn-lg" onclick="openTab('view-revenue')">View Revenue </button>
    </div>
    <div class="content-container" id="view-rooms">
        <div class="view-options">
            <button type="button" class="button" onclick="showAllRooms()">
                Show All Rooms
            </button>
            <button type="button" class="button" onclick="showOpenRooms()">
                Show Open Rooms
            </button>
            <button type="button" class="button" onclick="showBookedRooms()">
                Show Booked Rooms
            </button>
            <button type="button" class="button" onclick="showBooking()">
                Show Booking
            </button>
            <button type="button" class="button" data-toggle="modal" data-target="#rooms-modal">
                Additional Filters
            </button>
            <button type="button" class="button" data-toggle="modal" data-target="#booking-modal">
                Create Booking
            </button>
        </div>
        <div class="table-container" id="room-table">
            <!--Table Generated Here-->
        </div>
    </div>

    <div class="modal fade" id="rooms-modal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="rooms-modal-label">Filters</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <label for="filter-bed-count">Filter Bed Count:</label>
                    <select class="form-control form-control-sm" id="filter-bed-count">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="r_beds">Any</option>
                    </select>
                    <label for="filter-room-cap">Filter Room Capacity:</label>
                    <select class="form-control form-control-sm" id="filter-room-cap">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="r_roomCapacity">Any</option>
                    </select>
                    <label for="filter-room-type">Filter Room Type:</label>
                    <select class="form-control form-control-sm" id="filter-room-type">
                        <option value="Single">Single</option>
                        <option value="Double">Double</option>
                        <option value="Triple">Triple</option>
                        <option value="Quad">Quad</option>
                        <option value="r_type">Any</option>
                    </select>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal"
                        onclick="submitRoomFilters()">Submit</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="booking-modal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="booking-modal-label">Create Booking</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <label for="book-guest-id">Enter Guest Number:
                        <input type="text" class="form-control" id="book-guest-id" required>
                    </label>
                    <label for="book-room-number">Enter Room Number:
                        <input type="text" class="form-control" id="book-room-number" required>
                    </label>
                    <label for="book-date">Select Date to Book:
                        <input type='date' id='book-date'>
                    </label>
                    <label for="book-days">Enter Booking days:
                        <input type="text" class="form-control" id="book-days" required>
                    </label>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal"
                        onclick="addBooking()">Submit</button>
                </div>
            </div>
        </div>
    </div>

    <div class="content-container" id="view-catering">
        <div class="view-options">
            <button type="button" class="button" onclick="showCateringMenu()">
                Show Catering Menu
            </button>
            <button type="button" class="button" onclick="showCateringBill()">
                Show Catering Bill
            </button>
            <button type="button" class="button" onclick="showCateringStats()" data-toggle="modal"
                data-target="#catering-stats-modal">
                Show Catering Stats
            </button>
            <button type="button" class="button" data-toggle="modal" data-target="#catering-modal">
                Create Catering Bill
            </button>
        </div>
        <div class="table container" id="catering-table">
            <!--Table Generated Here-->
        </div>
    </div>

    <div class="modal fade" id="catering-modal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="catering-modal-label">Create Catering Bill</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <label for="catering-guest-number">Enter Bill Id:
                        <input type="text" class="form-control" id="catering-bill-id" required>
                    </label>
                    <label for="catering-guest-number">Enter Guest Number:
                        <input type="text" class="form-control" id="catering-guest-number" required>
                    </label>
                    <label for="catering-food">Enter Food Name:
                        <input type="text" class="form-control" id="catering-food" required>
                    </label>
                    <label for="catering-price">Enter Price:
                        <input type="text" class="form-control" id="catering-price" required>
                    </label>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal"
                        onclick="createCateringBill()">Submit</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="catering-stats-modal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div id="pop-food-type">

                </div>
                <div id="avg-price">

                </div>
                <div id="pop-food">

                </div>
            </div>
        </div>
    </div>

    <div class="content-container" id="view-guests">
        <div class="view-options">
            <button type="button" class="button" onclick="showGuests()">
                Show Guests
            </button>
            <button type="button" class="button" onclick="showGuestEdit()">
                Edit Guests
            </button>
        </div>
        <div class="table container" id="guests-table">
            <!--Table Generated Here-->
        </div>
    </div>

    <div class="content-container" id="view-staff">
        <div class="view-options">
            <button type="button" class="button" onclick="showAllStaff()">
                Show Staff
            </button>
            <button type="button" class="button" onclick="showStaffFeedback()">
                Show Staff Feedback
            </button>
            <button type="button" class="button" data-toggle="modal" data-target="#staff-modal">
                Additional Staff Filters
            </button>
            <button type="button" class="button" onclick="showAvgFeedbackRating()">
                Show Average Feedback For each Staff
            </button>
        </div>
        <div class="table container" id="staff-table">
            <!--Table Generated Here-->
        </div>
    </div>
    <div class="modal fade" id="staff-modal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="booking-modal-label">Filters</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <label for="filter-staff-job">Filter Staff Job Title:</label>
                    <select class="form-control form-control-sm" id="filter-staff-job">
                        <option value="Housekeeper">Housekeeper</option>
                        <option value="Receptionist">Receptionist</option>
                        <option value="Cook">Cook</option>
                        <option value="Waiter">Waiter</option>
                    </select>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal"
                        onclick="submitStaffFilters()">Submit</button>
                </div>
            </div>
        </div>
    </div>



    <div class="content-container" id="view-revenue">
        <div class="view-options">
            <button type="button" class="button" onclick="showAllRevenue()">
                <!-- This is the button that shows revenue-->
                Show Revenue
            </button>
            <button type="button" class="button" onclick="showRevenueByDate()">
                Show Revenue By Date
            </button>
            <button type="button" class="button" onclick="showTotalRevenue()">
                Show Total Revenue
            </button>

        </div>
        <div class="table-container" id="revenue-table">
            <!--Table Generated Here-->
        </div>
    </div>
    <div class="content-container" id="view-revenue">
        <button type="button" class="button" onclick="showRevenue()"> <!-- This is the button that shows revenue-->
            Show Revenue
        </button>
        <div class="table-container" id="revenue-table">
            <!--Table Generated Here-->
        </div>
    </div>


    </div>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <script src="{{ url_for('static',filename='javascript/hotel.js') }}"></script>
</body>