<!DOCTYPE html>

<head>
    <title>Hotel Management System</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/style.css') }}">
</head>

<body>
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4">Hotel Management System</h1>
        </div>
    </div>
    <div class="btn-group btn-group-toggle" id="tabs">
        <button class="btn btn-primary btn-lg" onclick="openTab('view-rooms')">View Rooms </button>
        <button class="btn btn-primary btn-lg" onclick="openTab('view-catering')">View Catering </button>
        <button class="btn btn-primary btn-lg" onclick="openTab('view-guests')">View Guests </button>
        <button class="btn btn-primary btn-lg" onclick="openTab('view-staff')">View Staff </button>
        <button class="btn btn-primary btn-lg" onclick="openTab('view-revenue')">View Revenue </button>
    </div>


    <div class="content-container" id="view-rooms">
        <div class="view-rooms-options">
            <button type="button" class="button" onclick="showAllRooms()">
                Show All Rooms
            </button>
            <button type="button" class="button" onclick="showOpenRooms()">
                Show Open Rooms
            </button>
            <button type="button" class="button" onclick="showBookedRooms()">
                Show Booked Rooms
            </button>
            <button type="button" class="button" onclick="showBooking()">
                Show Booking
            </button>
            <button type="button" class="button" onclick="">
                Create Booking
            </button>
        </div>
        <div class="table-container" id="room-table">
            <!--Table Generated Here-->
        </div>
    </div>

    <div class="content-container" id="view-catering">
        <div class="view-rooms-options">
            <button type="button" class="button" onclick="showCateringMenu()">
                Show Catering Menu
            </button>
            <button type="button" class="button" onclick="showCateringBill()">
                Show Catering Bill
            </button>
            <button type="button" class="button" onclick="">
                Create Catering Bill
            </button>
        </div>
        <div class="table container" id="catering-table">
            <!--Table Generated Here-->
        </div>
    </div>

    </div>
    <script src="{{ url_for('static',filename='javascript/hotel.js') }}"></script>
</body>